<!-- <div class="chart-diplay">

  <div style="width: 100%;">
    <canvas id="bar"></canvas>
  </div>

  <div style="width: 100%;">
    <canvas id="doughnut"></canvas>
  </div>
  <div style="width: 100%;">
    <canvas id="pie"></canvas>
  </div>
</div> -->

<div class="row">
  <div class="h col-md-6 col-sm-12">
    <canvas id="bar"></canvas>
  </div>
  <div class="h col-md-6 col-sm-12">
    <canvas id="doughnut"></canvas>
  </div>
  <div class="h col-md-6 col-sm-12">
    <canvas id="pie"></canvas>
  </div>
</div>